

<aside class="bg-success text-white d-flex flex-column position-relative" style="width: 250px;">
    
    <div class="p-3">
        <h1 class="text-center fs-4 mb-4">SuperHero API</h1>
        <nav class="nav flex-column">
            <a href="/api/heroes" class="nav-link text-white menu-item py-2 px-3 rounded" data-section="listar">
                Listar SuperHeroes
            </a>
            <a href="#" class="nav-link text-white menu-item py-2 px-3 rounded" data-section="modificar">
                Modificar SuperHero
            </a>
            <a href="#" class="nav-link text-white menu-item py-2 px-3 rounded" data-section="agregar">
                Agregar SuperHero
            </a>
            <a href="#" class="nav-link text-white menu-item py-2 px-3 rounded" data-section="eliminar">
                Eliminar SuperHero
            </a>
        </nav>


    </div>

    <!-- Footer -->
    <%- include('footer') %>
</aside>