

<aside class="bg-success text-white d-flex flex-column position-relative" style="width: 250px;">
    
    <div class="p-3">
        <h1 class="text-center fs-4 mb-4">SuperHero API</h1>
        <%- include('navbar') %>
    </div>

    <!-- Footer -->
    <%- include('footer') %>
</aside>