
<nav class="nav flex-column">
    <a href="/api" class="nav-link text-white menu-item py-2 px-3 rounded" data-section="listar">
        Inicio
    </a>
    <a href="/api/heroes" class="nav-link text-white menu-item py-2 px-3 rounded" data-section="listar">
        Listar SuperHeroes
    </a>
    <a href="/api/heroes/modificar" class="nav-link text-white menu-item py-2 px-3 rounded" data-section="modificar">
        Modificar SuperHero
    </a>
    <a href="/api/heroes/addSuperhero" class="nav-link text-white menu-item py-2 px-3 rounded" data-section="agregar">
        Agregar SuperHero
    </a>
    <a href="/api/heroes/deleteSuperHero" class="nav-link text-white menu-item py-2 px-3 rounded" data-section="eliminar">
        Eliminar SuperHero
    </a>
</nav>

