<!-- Contenido Principal - Agregar -->
<div>
    <h2 class="fs-3 mb-3 text-center">AGREGAR SUPERHEROE</h2>

    <div class="agregar-container">
        <form id="formAgregar">

            <div class="mb-3">
                <label for="form-nombre" class="form-label">Nombre Superheroe</label>
                <input type="text" class="form-control" id="form-nombre" name="nombreSuperheroe"
                    placeholder="Ingresa tu nombre">
            </div>

            <div class="mb-3">
                <label for="form-nombreReal" class="form-label">Nombre Real</label>
                <input type="text" class="form-control" id="form-nombreReal" name="nombreReal"
                    placeholder="Ingresa tu nombre">
            </div>

            <div class="mb-3">
                <label for="form-edad" class="form-label">Edad</label>
                <input type="number" class="form-control" id="form-edad" name="edad">
            </div>

            <div class="mb-3">
                <label for="form-planeta" class="form-label">Planeta</label>
                <input type="text" class="form-control" id="form-planeta" name="planetaOrigen"
                    placeholder="Ingresa el planeta">
            </div>

            <div class="mb-3">
                <label for="form-debilidad" class="form-label">Debilidad</label>
                <input type="text" class="form-control" id="form-debilidad" name="debilidad"
                    placeholder="Ingresa la debilidad">
            </div>

            <div class="mb-3">
                <label for="form-poderes" class="form-label">Poderes</label>
                <textarea class="form-control" id="form-poderes" name="poderes" rows="2"
                    placeholder="Escribe los poderes separados por coma. Ej: correr, saltar"></textarea>
            </div>

            <div class="mb-3">
                <label for="form-aliados" class="form-label">Aliados</label>
                <textarea class="form-control" id="form-aliados" name="aliados" rows="2"
                    placeholder="Escribe los aliados separados por coma"></textarea>
            </div>

            <div class="mb-3">
                <label for="form-enemigos" class="form-label">Enemigos</label>
                <textarea class="form-control" id="form-enemigos" name="enemigos" rows="2"
                    placeholder="Escribe los enemigos separados por coma"></textarea>
            </div>

            <div class="text-center mb-3">
                <button type="button" class="btn btn-secondary mb-2">Cancelar</button>
                <button type="submit" form="formAgregar" class="btn btn-success mb-2">Guardar</button>
            </div>
            
        </form>
    </div>
</div>


<script src="/js/addSuperhero.js"></script>