
<!-- Contenido Principal -->
<main class="flex-grow-1 p-4">

    <!-- Encabezado de Bienvenida -->
    <div id="default" class="section">
        <h2 class="fs-3 mb-3">Bienvenido al Dashboard</h2>
        <p>Selecciona una opción del menú para comenzar.</p>
    </div>

    <!-- Seccion de Listar -->
    <div id="listar" class="section d-none">
        <h2 class="fs-3 mb-3">Listado de SuperHeroes</h2>
        <p>Aquí va el listado de superheroes</p>
    </div>


    <!-- Seccion de Modificar -->
    <div id="modificar" class="section d-none">
        <h2 class="fs-3 mb-3">Modificar SuperHero</h2>
        <p>Formulario para modificar un superhéroe.</p>
    </div>

    <!-- Seccion de Agregar -->
    <div id="agregar" class="section d-none">
        <h2 class="fs-3 mb-3">Agregar SuperHero</h2>
        <p>Formulario para agregar un nuevo superhéroe.</p>
    </div>

    <!-- Seccion de Elimnar -->
    <div id="eliminar" class="section d-none">
        <h2 class="fs-3 mb-3">Eliminar SuperHero</h2>
        <p>Formulario para eliminar un superhéroe.</p>
    </div>

</main>